<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.thom1606.ShareBox</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sharebox</string>
			</array>
		</dict>
	</array>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.ShareBox</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>ShareBox</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>CF_ACCESS_CLIENT_ID</key>
	<string>$(CF_ACCESS_CLIENT_ID)</string>
	<key>CF_ACCESS_CLIENT_SECRET</key>
	<string>$(CF_ACCESS_CLIENT_SECRET)</string>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://shareboxed.app/macOS/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>8jnb+oJxxlzxCefWv7iPQni/4WDGvw/zTSPHm9+5HiE=</string>
	<key>UPLOAD_S3</key>
	<string>$(UPLOAD_S3)</string>
</dict>
</plist>
