<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>UPLOAD_S3</key>
	<string>$(UPLOAD_S3)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.thom1606.ShareBox</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sharebox</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
